<!DOCTYPE html>
<html lang="ru">

<head>
	<!--Кодировка-->
	<meta charset="UTF-8">
	<!--Адаптивность. User-scalable=0 запрещает зумить на Android-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--Краткое описание страницы для поисковых плтаформ (до 140 символов)-->
	<meta name="description" content="">
	<!--Ключевые слова для поисковых платформ (до 20 слов через запятую)-->
	<meta name="keywords" content="">
	<!--Мета теги в случае репоста страницы сайта на Facebook-->
	<!--Локализация сайта. Для русскоязычного сайта - ru_RU-->
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="aticle">
	<!--Какой заголовок сайта при репосте-->
	<meta proprety="og:title" content="">
	<!--Описания страницы при репосте-->
	<meta property="og:descritpion" content="">
	<!--Ссылка на изображение, которое выводится при репосте (http-адрес нужно будет вставить с изображением)-->
	<meta property="og:image" content="">
	<!--Ссылка на конкретную страницу (тоже http-адрес указать для каждой страницы)-->
	<meta property="og:url" content="">
	<!--Название сайта при репосте-->
	<meta property="og:site_name" content="F&B Cartel">
	<!--Разрешение или запрет номер телефона делать ссылкой на звонок в iOS-->
	<meta name="format-detection" content="telephone=yes">
	<!--Данные о владельце/авторе страницы-->
	<meta name="Author" content="Alexeev Ivan">
	<meta name="Copyright" content="Alexeev Ivan">
	<meta name="Address" content="">

	<!--Эту строчку добавить только на страницу 404 - она позволяет выполнить редирект на главную, если вылезла 404-->
	<!--<meta http-equiv="refresh" content="3, url=index.html"-->

	<!--Запрет на индексацию сайта; потом убрать!-->
	<meta name="robots" content="none">


	<link rel="stylesheet" href="../../static/css/icons.css">
	<link rel="stylesheet" href="../../static/css/simple-line-icons.css">
	<link rel="stylesheet" href="../../static/css/fonts.css">
	<link rel="stylesheet" href="../../static/css/about.css">

	<title>
		About Us | FBC
	</title>

</head>

<body>
	<div class="wrapper">
		<div class="container">
			<div class="serviceBox">
				<div class="icon" style="--i:#4eb7ff">
					<span class="_icon-telegram"></span>
					<p>Наша Миссия</p>
				</div>
				<div class="content">
					<h2>
						Наша Миссия
					</h2>
					<p>
						lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
					</p>
				</div>
			</div>
			<div class="serviceBox">
				<div class="icon" style="--i:#fd6494">
					<span class="_icon-telegram"></span>
					<p>Правила ресурса</p>
				</div>
				<div class="content">
					<h2>
						Правила ресурса
					</h2>
					<p>
						<a href="https://">Ознакомиться</a>
					</p>
				</div>
			</div>
			<div class="serviceBox">
				<div class="icon" style="--i:#43f390">
					<span class="_icon-telegram"></span>
					<p>Пользовательское соглашение</p>
				</div>
				<div class="content">
					<h2>
						Пользовательское соглашение
					</h2>
					<p>
						<a href="{% url 'user-agreement' %}">Ознакомиться</a>
					</p>
				</div>
			</div>
			<div class="serviceBox">
				<div class="icon" style="--i:#ffb508">
					<span class="_icon-telegram"></span>
					<p>Конфиденциальность</p>
				</div>
				<div class="content">
					<h2>
						Конфиденциальность
					</h2>
					<p>
						lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
					</p>
				</div>
			</div>
			<div class="serviceBox">
				<div class="icon" style="--i:#37ba82">
					<span class="_icon-telegram"></span>
					<p>Правообладателям</p>
				</div>
				<div class="content">
					<h2>
						Правообладателям
					</h2>
					<p>
						lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
					</p>
				</div>
			</div>
			<div class="serviceBox">
				<div class="icon" style="--i:#cd57ff">
					<span class="_icon-telegram"></span>
					<p>Сотрудничество</p>
				</div>
				<div class="content">
					<h2>
						Сотрудничество
					</h2>
					<small>
						По вопросам сотрудничества Вы можете связаться с нами, отправив электронное письмо на адрес
					</small>
					<small>
						<strong>f&b_cartel@gmail.com</strong>
					</small>
				</div>
			</div>
		</div>
	</div>
</body>

</html>