<!DOCTYPE html>
<html lang="ru">
    <head>
        <!--Кодировка-->
        <meta charset="UTF-8">
        <!--Адаптивность. User-scalable=0 запрещает зумить на Android-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!--Краткое описание страницы для поисковых плтаформ (до 140 символов)-->
        <meta name="description" content="">
        <!--Ключевые слова для поисковых платформ (до 20 слов через запятую)-->
        <meta name="keywords" content="">
        <!--Мета теги в случае репоста страницы сайта на Facebook-->
        <!--Локализация сайта. Для русскоязычного сайта - ru_RU-->
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="aticle">
        <!--Какой заголовок сайта при репосте-->
        <meta proprety="og:title" content="">
        <!--Описания страницы при репосте-->
        <meta property="ogdescritpion" content="">
        <!--Ссылка на изображение, которое выводится при репосте (http-адрес нужно будет вставить с изображением)-->
        <meta property="og:image" content="">
        <!--Ссылка на конкретную страницу (тоже http-адрес указать для каждой страницы)-->
        <meta property="og:url" content="">
        <!--Название сайта при репосте-->
        <meta property="og:site_name" content="F&B Cartel">
        <!--Разрешение или запрет номер телефона делать ссылкой на звонок в iOS-->
        <meta name="format-detection" content="telephone=yes">
        <!--Данные о владельце/авторе страницы-->
        <meta name="Author" content="Alexeev Ivan">
        <meta name="Copyright" content="Alexeev Ivan">
        <meta name="Address" content="">

        <!--Эту строчку добавить только на страницу 404 - она позволяет выполнить редирект на главную, если вылезла 404-->
        <!--<meta http-equiv="refresh" content="3, url=index.html"-->
        
        <!--Запрет на индексацию сайта; потом убрать!-->
        <meta name="robots" content="none">


        <link rel="stylesheet" href="../../static/css/icons.css">
        <link rel="stylesheet" href="../../static/css/simple-line-icons.css">
        <link rel="stylesheet" href="../../static/css/fonts.css">
        <link rel="stylesheet" href="../../static/css/forum.css">
        <link rel="stylesheet" href="../../static/css/modal.css">

        <title>
            Food &#38 Beverage Cartel
        </title>
        
    </head>
    <body>
        <div id="pageNav">
            <div id="logo">
                <a href="{% url 'index' %}">Food &#38 Beverage Cartel</a>
            </div>
            {% if not request.user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">
                        Авторизация
                    </a>
                </li>
                <li>
                    <a href="{% url 'register' %}">
                        Регистрация
                    </a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li>
                    <a href="#" style="display: grid; width: 80%; text-align: center; margin-bottom: 8%; text-transform: capitalize; border: 1px solid goldenrod; border-radius: 10px;">
                        {{ request.user.username }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" style="display: grid; width: 80%; text-align: center; border: 1px solid goldenrod; border-radius: 10px;">Выход</a>
                </li>
            {% endif %}
            <li>
                <a href="#">Справочник</a>
            </li>
            <li>
                <a href="#">Обучение</a>
            </li>
            <li>
                <a href="#">О нас</a>
            </li>
            <div class="one"></div>
        </div>
        <div id="pageInfo">
            <div class="container">
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'login' %}">Авторизация</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Регистрация</a>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="#" style="display: grid; width: 80%; text-align: center; margin-bottom: 8%; text-transform: capitalize; border: 1px solid goldenrod; border-radius: 10px;">
                                {{ request.user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" style="display: grid; width: 80%; text-align: center; border: 1px solid goldenrod; border-radius: 10px;">Выход</a>
                        </li>
                        <li>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#">Справочник</a>
                        </li>
                        <li>
                            <a href="#">Обучение</a>
                        </li>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <div class="one"></div>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <button>
                    <a href="{% url 'forum_post_add' %}">
                        Создать тему
                    </a>
                </button>
                <button>
                    <a href="{% url 'forum_post_category_add' %}">
                        Добавить категорию
                    </a>
                </button>
                {% endif %}
                <ul>
                    {% for post in object_list %}
                        <li>
                            <a href="{% url 'forum_post_detail' post.pk %}">
                                {{ post.title }}
                            </a>
                            <!--Чтобы сделать рабочей ссылку на каждую категорию, нужно не забывать определять
                            указание на то, чтобы она являлась уникальной для каждой категории.
                            Что-то вроде ранее указанного pk, но сейчас категория из модели поста-->
                             - <a href="{% url 'category' post.post_category %}">{{ post.post_category }}</a> - {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.pub_date}}
                            {% if request.user.is_authenticated %}
                                {% if user.id == post.author.id %}
                                    <a href="{% url 'forum_post_update' post.pk %}">
                                        Редактировать
                                    </a>
                                    <a href="{% url 'forum_post_remove' post.pk %}">
                                        Удалить
                                    </a>
                                    <br/>
                                {% endif %}
                            {% endif %}
                            <!-- Комнда "|slice" помогает не показывать весь текст поста на странице всех постов-->
                            {{ post.body|slice:":200"|safe}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>