<!DOCTYPE html>
<html lang="ru">
    <head>
        <!--Кодировка-->
        <meta charset="UTF-8">
        <!--Адаптивность. User-scalable=0 запрещает зумить на Android-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <!--Краткое описание страницы для поисковых плтаформ (до 140 символов)-->
        <meta name="description" content="">
        <!--Ключевые слова для поисковых платформ (до 20 слов через запятую)-->
        <meta name="keywords" content="">
        <!--Мета теги в случае репоста страницы сайта на Facebook-->
        <!--Локализация сайта. Для русскоязычного сайта - ru_RU-->
        <meta property="og:locale" content="ru_RU">
        <meta property="og:type" content="aticle">
        <!--Какой заголовок сайта при репосте-->
        <meta proprety="og:title" content="">
        <!--Описания страницы при репосте-->
        <meta property="ogdescritpion" content="">
        <!--Ссылка на изображение, которое выводится при репосте (http-адрес нужно будет вставить с изображением)-->
        <meta property="og:image" content="">
        <!--Ссылка на конкретную страницу (тоже http-адрес указать для каждой страницы)-->
        <meta property="og:url" content="">
        <!--Название сайта при репосте-->
        <meta property="og:site_name" content="F&B Cartel">
        <!--Разрешение или запрет номер телефона делать ссылкой на звонок в iOS-->
        <meta name="format-detection" content="telephone=yes">
        <!--Данные о владельце/авторе страницы-->
        <meta name="Author" content="Alexeev Ivan">
        <meta name="Copyright" content="Alexeev Ivan">
        <meta name="Address" content="">

        <!--Эту строчку добавить только на страницу 404 - она позволяет выполнить редирект на главную, если вылезла 404-->
        <!--<meta http-equiv="refresh" content="3, url=index.html"-->
        
        <!--Запрет на индексацию сайта; потом убрать!-->
        <meta name="robots" content="none">


        <link rel="stylesheet" href="../../static/css/icons.css">
        <link rel="stylesheet" href="../../static/css/simple-line-icons.css">
        <link rel="stylesheet" href="../../static/css/fonts.css">
        <link rel="stylesheet" href="../../static/css/index.css">
        <link rel="stylesheet" href="../../static/css/modal.css">

        <title>
            Food &#38 Beverage Cartel
        </title>
        
    </head>
    <body>
        <div id="pageNav">
            <div id="logo">
                <a href="#">Food &#38 Beverage Cartel</a>
            </div>
            {% if not request.user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}">
                        Авторизация
                    </a>
                </li>
                <li>
                    <a href="{% url 'registration' %}">
                        Регистрация
                    </a>
                </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li>
                    <a href="#" style="display: grid; width: 80%; text-align: center; margin-bottom: 8%; text-transform: capitalize; border: 1px solid goldenrod; border-radius: 10px;">
                        {{ request.user.username }}
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" style="display: grid; width: 80%; text-align: center; border: 1px solid goldenrod; border-radius: 10px;">Выход</a>
                </li>
            {% endif %}
            <li>
                <a href="#">Справочник</a>
            </li>
            <li>
                <a href="#">Обучение</a>
            </li>
            <li>
                <a href="#">О нас</a>
            </li>
            <div class="one"></div>
        </div>
        <div id="pageInfo">
            <div class="container">
                <div id="myNav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'login' %}">Авторизация</a>
                        </li>
                        <li>
                            <a href="{% url 'registration' %}">Регистрация</a>
                        </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="#" style="display: grid; width: 80%; text-align: center; margin-bottom: 8%; text-transform: capitalize; border: 1px solid goldenrod; border-radius: 10px;">
                                {{ request.user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" style="display: grid; width: 80%; text-align: center; border: 1px solid goldenrod; border-radius: 10px;">Выход</a>
                        </li>
                        <li>
                        </li>
                        {% endif %}
                        <li>
                            <a href="#">Справочник</a>
                        </li>
                        <li>
                            <a href="#">Обучение</a>
                        </li>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <div class="one"></div>
                    </div>
                </div>
                <span class="openBtn" onclick="openNav()"><a>&#9776;</a></span>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <h2><img class="fl" src="https://img.icons8.com/dotty/100/000000/grapes.png" style="width:70%; height: 70%;"/></h2>
                            <h3>Вино</h3>
                            <p>«<strike style="color: rgb(26, 26, 26);">Я в вине совершенно не разбираюсь</strike>»</p>
                            <button type="button" id="openModalBtn">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <h2><img class="fl" src="https://img.icons8.com/ios/50/000000/whisky-still.png"/></h2>
                            <h3>40%</h3>
                            <p>История и описание крепких алкогольных напитков</p>
                            <button type="button" id="openModalBtn2">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <h2><img class="fl" src="https://img.icons8.com/dotty/100/000000/beer.png" style="width:50%; height: 50%;"/></h2>
                            <h3>Не 40%</h3>
                            <p></p>
                            <button type="button" id="openModalBtn3">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <h2><img class="fl" src="https://img.icons8.com/dotty/80/000000/cocktail-shaker.png" style="width:80%; height: 80%;"/></h2>
                            <h3>Коктейль</h3>
                            <p>Не спрашивай, по ком звонит шейкер</p>
                            <button type="button" id="openModalBtn4">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <h2><img class="fl" src="https://img.icons8.com/dotty/80/000000/work-light.png" style="width:80%; height: 80%;"/></h2>
                            <h3>Как?</h3>
                            <p>От старта карьеры до запуска бара</p>
                            <button type="button" id="openModalBtn5">Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <h2><img class="fl" src="https://img.icons8.com/dotty/64/000000/chat.png" style="width:80%; height: 80%;"/></h2>
                            <h3>Форум</h3>
                            <p>Обсуждение рецептур, заведений и новостей</p>
                            <button><a href="{% url 'forum' %}">Read more</a></button>
                        </div>
                    </div>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="closeModal">×</span>
                        <h3>Подтвердите свой возраст</h3>
                        <button class="modal-content__left-button"><a href="{% url 'wine' %}">18+</a></button>
                        <button class="modal-content__right-button"><a href="https://www.lego.com/en-us">< 18</a></button>
                    </div>
                </div>
                <div id="myModal2" class="modal2">
                    <div class="modal-content2">
                        <span class="closeModal2">×</span>
                        <h3>Подтвердите свой возраст</h3>
                        <button class="modal-content__left-button2"><a href="">18+</a></button>
                        <button class="modal-content__right-button2"><a href="https://www.lego.com/en-us">< 18</a></button>
                    </div>
                </div>
                <div id="myModal3" class="modal3">
                    <div class="modal-content3">
                        <span class="closeModal3">×</span>
                        <h3>Подтвердите свой возраст</h3>
                        <button class="modal-content__left-button3"><a href="">18+</a></button>
                        <button class="modal-content__right-button3"><a href="https://www.lego.com/en-us">< 18</a></button>
                    </div>
                </div>
                <div id="myModal4" class="modal4">
                    <div class="modal-content4">
                        <span class="closeModal4">×</span>
                        <h3>Подтвердите свой возраст</h3>
                        <button class="modal-content__left-button4"><a href="">18+</a></button>
                        <button class="modal-content__right-button4"><a href="https://www.lego.com/en-us">< 18</a></button>
                    </div>
                </div>
                <div id="myModal5" class="modal5">
                    <div class="modal-content5">
                        <span class="closeModal5">×</span>
                        <h3>Подтвердите свой возраст</h3>
                        <button class="modal-content__left-button5"><a href="">18+</a></button>
                        <button class="modal-content__right-button5"><a href="https://www.lego.com/en-us">< 18</a></button>
                    </div>
                </div>
                <div id="myModal6" class="modal6">
                    <div class="modal-content6">
                        <span class="closeModal6">×</span>
                        <h3>Подтвердите свой возраст</h3>
                        <button class="modal-content__left-button6"><a href="{% url 'wine' %}">18+</a></button>
                        <button class="modal-content__right-button6"><a href="https://www.lego.com/en-us">< 18</a></button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../static/js/navbar_toggle.js"></script>
        <script type="text/javascript" src="../../static/js/modal_wine.js"></script>
        <script type="text/javascript" src="../../static/js/modal_straight.js"></script>
        <script type="text/javascript" src="../../static/js/modal_nonstraight.js"></script>
        <script type="text/javascript" src="../../static/js/modal_cocktails.js"></script>
        <script type="text/javascript" src="../../static/js/modal_how.js"></script>
        <script type="text/javascript" src="../../static/js/modal_chat.js"></script>
    </body>
</html>
