<!DOCTYPE html>
<html lang="ru">

<head>
	<!--Кодировка-->
	<meta charset="UTF-8">
	<!--Адаптивность. User-scalable=0 запрещает зумить на Android-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--Краткое описание страницы для поисковых плтаформ (до 140 символов)-->
	<meta name="description" content="">
	<!--Ключевые слова для поисковых платформ (до 20 слов через запятую)-->
	<meta name="keywords" content="">
	<!--Мета теги в случае репоста страницы сайта на Facebook-->
	<!--Локализация сайта. Для русскоязычного сайта - ru_RU-->
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="aticle">
	<!--Какой заголовок сайта при репосте-->
	<meta proprety="og:title" content="">
	<!--Описания страницы при репосте-->
	<meta property="ogdescritpion" content="">
	<!--Ссылка на изображение, которое выводится при репосте (http-адрес нужно будет вставить с изображением)-->
	<meta property="og:image" content="">
	<!--Ссылка на конкретную страницу (тоже http-адрес указать для каждой страницы)-->
	<meta property="og:url" content="">
	<!--Название сайта при репосте-->
	<meta property="og:site_name" content="F&B Cartel">
	<!--Разрешение или запрет номер телефона делать ссылкой на звонок в iOS-->
	<meta name="format-detection" content="telephone=yes">
	<!--Данные о владельце/авторе страницы-->
	<meta name="Author" content="Alexeev Ivan">
	<meta name="Copyright" content="Alexeev Ivan">
	<meta name="Address" content="">

	<!--Эту строчку добавить только на страницу 404 - она позволяет выполнить редирект на главную, если вылезла 404-->
	<!--<meta http-equiv="refresh" content="3, url=index.html"-->

	<!--Запрет на индексацию сайта; потом убрать!-->
	<meta name="robots" content="none">


	<link rel="stylesheet" href="../../static/css/icons.css">
	<link rel="stylesheet" href="../../static/css/simple-line-icons.css">
	<link rel="stylesheet" href="../../static/css/fonts.css">
	<link rel="stylesheet" href="../../static/css/forum.css">
	<link rel="stylesheet" href="../../static/css/modal.css">

	<title>
		Food &#38 Beverage Cartel
	</title>

</head>

<body>
	<div class="wrapper">
		<div id="pageNav">
			<div id="logo">
				<a href="{% url 'index' %}">Food &amp; Beverage Cartel <sup>BY</sup></a>
			</div>
			{% if not request.user.is_authenticated %}
			<li>
				<a href="{% url 'login' %}">
					Авторизация
				</a>
			</li>
			<li>
				<a href="{% url 'register' %}">
					Регистрация
				</a>
			</li>
			{% endif %}
			{% if request.user.is_authenticated %}
			<li>
				<a href="{% url 'profile' %}" id="admin_menu">
					{{ request.user.username }}
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}" id="admin_menu">
					Выход
				</a>
			</li>
			{% endif %}
			<li>
				<a href="#">
					Справочник
				</a>
			</li>
			<li>
				<a href="{% url 'courses' %}">
					Обучение
				</a>
			</li>
			<li>
				<a href="{% url 'about' %}">
					О нас
				</a>
			</li>
			<div class="one">
				<footer>
					<form class="searchform" action="{% url 'search_results' %}" method="get">
						<input placeholder="Поиск..." aria-label="Search" name="q">
						<ul>
							<li>
								<a>
									<button class="search__btn">
										<span>
											Найти
										</span>
									</button>
								</a>
							</li>
						</ul>
					</form>
				</footer>
			</div>
		</div>
		<div id="pageInfo">
			<div class="container">
				<div id="myNav" class="overlay">
					<div class="overlay-container">
						<a href="javascript:void(0)" class="hamburger" onclick="closeNav()">
							<div class="chevron"></div>
							<div class="chevron"></div>
							<div class="chevron"></div>
						</a>
					</div>
					<div class="overlay__content">
						{% if not request.user.is_authenticated %}
						<li>
							<a href="{% url 'login' %}">
								Авторизация
							</a>
						</li>
						<li>
							<a href="{% url 'register' %}">
								Регистрация
							</a>
						</li>
						{% endif %}
						{% if request.user.is_authenticated %}
						<li>
							<a href="{% url 'profile' %}" id="admin_menu">
								{{ request.user.username }}
							</a>
						</li>
						<li>
							<a href="{% url 'logout' %}" id="admin_menu">
								Выход
							</a>
						</li>
						<li>
						</li>
						{% endif %}
						<li>
							<a href="{% url 'index' %}" class="active">
								Food &amp; Beverage Cartel <sup>BY</sup>
							</a>
						</li>
						<li>
							<a href="#">
								Справочник
							</a>
						</li>
						<li>
							<a href="{% url 'courses' %}">
								Обучение
							</a>
						</li>
						<li>
							<a href="{% url 'about' %}">
								О нас
							</a>
						</li>
						<div class="one"></div>
					</div>
				</div>
				<div class="open__btn" onclick="openNav()">
					<div class="open__btn-hamburger">
						<div class="chevron"></div>
						<div class="chevron"></div>
						<div class="chevron"></div>
					</div>
				</div>
			</div>
			{% if category_posts %}
			<h1>
				{{ categories }}
			</h1>
			<ul>
				{% for post in category_posts %}
				<li>
					<a href="{% url 'forum_post_detail' post.pk %}">
						{{ post.title }}
					</a>
					- {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.pub_date}}
					{% if request.user.is_authenticated %}
					<a href="{% url 'forum_post_update' post.pk %}">
						Редактировать
					</a>
					<a href="{% url 'forum_post_remove' post.pk %}">
						Удалить
					</a>
					<br />
					{% endif %}
					<!-- Комнда "|slice" помогает не показывать весь текст поста на странице всех постов-->
					{{ post.body|slice:":200"|safe}}
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<h1>
				Такую категорию мы не создали
			</h1>
			{% endif %}
		</div>
	</div>
</body>

</html>