body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    min-width: auto;
    min-height: 100%;
    background: linear-gradient(196deg, #25252500, #002234, #000);
    background-color: lightgoldenrodyellow;
}
.container {
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.container .serviceBox, .container .serviceBox-user_agreement{
    position: relative;
    background: #1c0336;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: 1s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}
.container .serviceBox{
    width: 350px;
    height: 280px;
}
.container .serviceBox-user_agreement {
    width: 700px;
    height: 560px;
}
.container .serviceBox:hover, .container .serviceBox-user_agreement:hover {
    border: 1px solid goldenrod;
    transition: 1s;
}
.container .serviceBox:active {
    width:340px;
    height: 270px;
}
.container .serviceBox .icon, .container .serviceBox-user_agreement .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff3d , var(--i), #ffffff3d);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition-delay: 0.25s;
}
.container .serviceBox:hover .icon, .container .serviceBox-user_agreement:hover .icon {
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition-delay: 0s;
}
.container .serviceBox .icon span, .container .serviceBox-user_agreement .icon span {
    font-size: 5em;
    color: #fff;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.container .serviceBox:hover .icon span, .container .serviceBox-user_agreement:hover .icon span {
    font-size: 2em;
    transition-delay: 0s;
}
.container .serviceBox .icon p, .container .serviceBox-user_agreement .icon p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.25em;
    transition: 2.25s;
    transform: scale(1);
    font-family: 'SF Pro Display';
}
.container .serviceBox:hover .icon p, .container .serviceBox-user_agreement:hover .icon p {
    color: transparent;
    transform: scale(0);
    transition: 0.25s;
}
.container .serviceBox .content, .container .serviceBox-user_agreement .content {
    position: relative;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}
.container .serviceBox:hover .content , .container .serviceBox-user_agreement:hover .content{
    transform: scale(1);
    transition-delay: 0.25s;
}
.container .serviceBox .content h2, .container .serviceBox-user_agreement .content h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'SF Pro Display';

}
.container .serviceBox .content p, .container .serviceBox-user_agreement .content p {
    line-height: 1.5em;
    font-family: 'SF Pro Display';
}