@import url(../css/fonts.css);
@import url(../css/null.css);

body {
    display: grid;
    height: 100vh;
    grid-template-areas: "nav info";
    grid-template-columns: 20% 1fr;
    grid-column-gap: 0%;
    background: linear-gradient(to right, #000, #cb6b30);
    background-color: #371b0a;
    justify-content: center;
    position: relative;
}
li {
    list-style: none;
    margin-left: 10%;
}
li a, li .active {
    line-height: 3em;
    font-size: 20px;
}
li .active {
    color: goldenrod;
}
li a {
    color: #ffe7d9;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 0.5s;
}
li a:hover {
    color: goldenrod;
    background-size: 100% 2px;
    transition: 0.5s;
    transform: translateX(5%);
}
li .active:hover {
    background-size: 0% 0px;
    transition: 0s;
    transform: translateX(0%);
}
.active-link {
    display: flex;
    align-items: center;
    flex-direction: initial;
}
.active-container {
    position: relative;
    margin: 0;
    width: 100%;
    height: 3em;
}
.map {
    display: block;
    width: 3em;
    height: 3em;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    border-radius: 50%;
    box-sizing: border-box;
}
.map__pin {
    display: block;
    width: 1.2em;
    height: auto;
    position: absolute;
    bottom: 1.3em;
    left: 50%;
    transform: translateX(-50%);
    animation: map-pin 1.5s ease infinite;
    z-index: 4;
}
.map__pin-shadow {
    display: block;
    width: 2.37rem;
    height: auto;
    filter: invert(1);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, 50%);
    animation: map-pin-shadow 1.5s ease infinite;
}
@keyframes map-pin {
    50% {
        bottom: 0.9rem;
    }
  }
@keyframes map-pin-shadow {
    50% {
        width: 1.6rem;
    }
}
.circle {
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.06rem solid #dba521;
    border-radius: 50%;
    animation: outer 3s ease-out infinite;
    z-index: 1;
}
.circle-2 {
    animation-delay: 1s;
}
.circle-3 {
    animation-delay: 2s;
}
@keyframes outer {
    100% {
        width: 2.7rem;
        height: 2.7rem;
        opacity: 0.1;
    }
}
button {
    border: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    background-color: #8c469800;
	margin: 2em 0 0 0;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.24);
    transition: 1s;
}
button a {
    color: rgb(0, 0, 0);
}
sup {
    font-size: 10px;
}
.posting {
    display: block;
    width: 81%;
    margin-bottom: 5%;
    margin-left: 10%;
    font-size: 15px;
}
button:hover {
    background-color: #3b291f82;
    transition: 1s;;
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 1);
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);;
}
.one {
    position: fixed;
    bottom: 0;
    width: 20vw;
}
.searchform {
    margin-right: auto;
    margin-left: auto;
}
.searchform input {
    width: 16vw;
    height: 35px;
    font-size: 20px;
	font-weight: 100;
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    border-radius: 10px;
    border: 1px solid goldenrod;
    text-align: center;
    transition: 0.5s;
}
.searchform input:focus, .searchform input:active {
    outline-style: none;
    outline-color: rgba(0, 0, 0, 0);
    -webkit-outline-style: none;
    -webkit-outline-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #FFC29B;
    box-shadow: 0 0 20px #FFC29B;
}
.searchform ul {
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}
.searchform ul li {
    margin-left: auto;
    margin-right: auto;
}
.searchform ul li a:hover {
    color: goldenrod;
    background-size: 0% 0px;
    transition: 0s;
    transform: translateX(0%);
}
.search__btn {
    background-color: goldenrod;
}
.search__btn:hover {
    background-color: #FFC29B;
    color: #000;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0;
}
.card {
	position: relative;
	width: 280px;
	height: 400px;
	border-radius: 15px;
	margin: 30px;
	min-width: 0;
}
.card .card__box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #FFC29B;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.4s;
    box-shadow: -6px -6px 8px rgba(0,0,0);
}
.card:hover .card__box {
    transform: translateY(-30px);
    box-shadow: 6px 6px 8px rgba(0,0,0);
    transition: 1.4s;
}
.card__content {
    padding: 3em 0 0;
    text-align: center;
}
.card__image {
	width: 24%;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s;
    pointer-events: none;
}
.another {
	width: 20%;
}
.card:hover .card__box .card__content .card__image{
    color: rgba(0,0,0,0.05);
    transform: rotate3d(1, 2.0, 3.0, 20deg);
}
.card__content h3{
    font-size: 2em;
	font-weight: 100;
    color:rgb(0, 0, 0);
	font-weight: normal;
    z-index: 1;
    transition: 0.5s;
}
.card__content p{
    font-size: 1em;
	margin: 1em 2em;
	line-height: 1.5em;
    color: rgb(26, 26, 26);
    z-index: 1;
    transition: 0.5s;
}
.container .overlay {
    display: none;
}
.form-text .text-muted {
    color:rgb(0, 0, 0, 0);
}
.open__btn {
    display: none;
}
.form-control, .form-control-select, .form-control-body {
    display: block;
    margin-left: 10%;
    height: 5vh;
    border: 1px solid rgba(218, 165, 32, 0);
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}
.form-control, .form-control-select, .form-control-body {
    display: block;
    margin-left: 10%;
    height: 5vh;
    border: 1px solid rgba(218, 165, 32, 0);
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}
.form-control {
    padding-left: 2%;
    width: 78%;
}
.form-control-select {
    width: 80%;
}
.form-control-body {
    resize: none;
    height: 50vh;
    padding: 2%;
    width: 76%;
}
.form-control:focus, .form-control-select:focus, .form-control-body:focus {
    outline-style: none;
}
label {
    text-align: left;
    padding-bottom: 2%;
    display: block;
    padding-top: 2%;
    margin-left: 10%;
    font-size: 25px;
}
#pageNav {
    grid-area: nav;
    background: url('../../static/img/aside.png') no-repeat right top rgb(0, 0, 0, 0.8);
    position: fixed;
    width: 20%;
    overflow: auto;
    display: block;
    height: 100%;
}
#pageInfo {
    grid-area: info;
    color: rgb(255, 255, 255);
}
#pageInfo h1{
    text-align: center;
}
#logo {
    margin: 20% 0;
    display: block;
    width: 100%;
    font-size: 35px;
    line-height: 1.6;
	font-weight: 300;
    text-decoration: none;
    text-align: center;
}
#logo a{
    display: block;
    text-align: center;
    color: #000000;
    overflow: hidden;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../static/img/logo.jpeg);
    transition: 1s;
}
#logo a:hover{
    filter: hue-rotate(90deg);
    transition: 1s;
}
#admin_menu, #extra_menu {
    display: grid;
    width: 80%;
    margin-bottom: 8%;
    text-align: center;
    border: 1px solid goldenrod;
    border-radius: 10px;
    font-size:20px;
    text-transform: capitalize;
}
#extra_menu {
    font-size: 15px;
    border: 1px solid #5e427c;
    text-transform: none;
}
#admin_menu:hover{
    color: goldenrod;
    background-size: 100% 1px;
    transition: 0.5s;
    transform: translateX(5%);
}
#extra_menu:hover {
    color: #ffe7d9;
    background-size: 100% 0.5px;
}
@media(max-width: 992.91px) {
    body {
        display: block;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 15vh 0vh 5vh 0vh;
    }
    .container .card {
        width: 40vw;
        height: 50vh;
    }
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #252525;
        overflow-y: hidden;
        transition: 0.5s;
        overflow-y: auto;
    }
    .overlay .closebtn {
        position: absolute;
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay .overlay-container {
        display: flex;
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    .hamburger, .open__btn-hamburger {
        width: 24px;
        height: 24px;
        scroll-behavior: smooth;
    }
    .hamburger .chevron,
    .open__btn-hamburger .chevron {
        position: absolute;
        width: 28px;
        height: 8px;
        opacity: 0;
        transform: scale3d(0.5, 0.5, 0.5);
        animation: move 3s ease-out infinite;
    }  
    .hamburger .chevron:first-child,
    .open__btn-hamburger .chevron:first-child {
        animation: move 3s ease-out 1s infinite;
    } 
    .hamburger .chevron:nth-child(2),
    .open__btn-hamburger .chevron:nth-child(2) {
        animation: move 3s ease-out 2s infinite;
    } 
    .hamburger .chevron:before,
    .hamburger .chevron:after,
    .open__btn-hamburger .chevron:before,
    .open__btn-hamburger .chevron:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 100%;
        width: 51%;
        background: goldenrod;
    }  
    .hamburger .chevron:before,
    .open__btn-hamburger .chevron:before {
        left: 0;
    } 
    .hamburger .chevron:after,
    .open__btn-hamburger .chevron:after {
        right: 0;
        width: 50%;
    }
    .hamburger .chevron:before {
        transform: skew(0deg, -30deg);
    } 
    .hamburger .chevron:after {
        transform: skew(-3.9deg, -150deg);
    }
    .open__btn-hamburger .chevron:before {
        transform: skew(0deg, 30deg);
    } 
    .open__btn-hamburger .chevron:after {
        transform: skew(0deg, -30deg);
    }
    @keyframes move {
        25% {
        opacity: 1;
    
        }
        33% {
        opacity: 1;
        transform: translateY(30px);
        }
        67% {
        opacity: 1;
        transform: translateY(40px);
        }
        100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
        }
    }
    @keyframes pulse {
        to {
        opacity: 1;
        }
    }
    .overlay li {
        margin-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .overlay li a {
        color: #ffe7d9;
        line-height: 3em;
        font-size: 15px;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 20% 75%;
        background-repeat: no-repeat;
        background-size: 0% 3px;
        transition: 0.5s;
    }
    .overlay li a.active {
        color: goldenrod;
    }
    .overlay li a:hover {
        color: goldenrod;
    }
    .overlay__content {
        position: relative;
        width: 100%;
        height: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .open__btn {
        display: flex;
        cursor: pointer;
        width: 10vw;
        height: 10vh;
        justify-content: center;
        align-items: baseline;
        position: absolute;
        top: 0%;
        right: 0%;
        margin: 2.5vh;
        background: #ffc29b;
        border-radius: 20px;
        box-shadow: rgb(0 0 0) 0px 0px 4px 0px inset;
        transition: 0.5s;
    }
    .open__btn:active {
        width: 9vw;
        height: 9vh;
        margin: 3.5vh;
    }
    .container .overlay{
        display: block;
    }
    #pageNav {
        display: none;
    }
    #admin_menu {
        width: 40%;
        height: 65%;
        font-size: 1em;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2%;
    }
}
@media(max-width: 668px) {
    .overlay .closebtn {
        top: 0px;
        right: 20px;
    }
    .overlay li {
        margin-left: 0;
    }
    .overlay li a {
        line-height: 2.5em;
        font-size: 14px;
    }
    .overlay li a.active {
        color: goldenrod;
    }
    .overlay li a:hover {
        color: goldenrod;
    }
    .overlay__content {
        position: relative;
        top: 20%;
        width: 100%;
        text-align: center;
    }
    .open__btn {
        display: block;
        font-size:30px;
        cursor:pointer;
    }
    .open__btn a {
        font-size: 25px;
        color: #000000;
    }
    .open__btn:hover a {
        color:black;
        transition: 1s;
    }
    .container .overlay{
        display: block;
    }
    #pageNav {
        display: none;
    }
    #admin_menu {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 10%;
        font-size: 13px;
        line-height: 2em;
    }
}