body {
    font-family: 'SF Pro Display';
    display: grid;
    height: auto;
    width: auto;
    grid-template-areas: "left_backside main right_backside";
    grid-template-columns: 20% 1fr 20%;
    grid-column-gap: 0%;
    font-family:'SF Pro Display';
    background: linear-gradient(93deg, #6d2a00, #e77600, #482d1c 83.19%, #151515);
    justify-content: center;
    margin:0;
    position: relative;
}
.vertical-center, .vertical-center-login {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid rgba(196, 203, 241, 0.27);
    border-radius: 10px;
    font-size: 10px;
    text-align: justify;
}
.vertical-center-login {
    padding: 20px;
}
.vertical-center-login input:matches([type="button"], [type="submit"], [type="reset"]) {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.textinput {
    background: rgba(255, 255, 255, 0.18);
    width: 90%;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    align-items: center;
    outline-style: none;
}
input:matches([type="button"], [type="submit"], [type="reset"]) {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.24);
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    background: #C57A4A;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.24);
    transition: 1s;
    margin-top: 15px;
    margin-bottom: 5%;
    margin-left: 40%;
    width: 20%;
}
input:matches([type="button"], [type="submit"], [type="reset"]):hover {
    background: #3b291f82;
    transition: 1s;;
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 1);
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
}
.form-group, .form-group-login {
    margin-bottom: 10px;
}
.form-group {
    margin-top: 10px;
}
.form-group-login {
    margin-top: 40px;
}
ul {
    margin: 0;
    padding: 0;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    height: auto;
}
ul.m-0 {
    list-style: none;
}
.captchaanswerinput {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.01);
    height: 30px;
    display: grid;
    margin: auto;
    background: rgba(255, 255, 255, 0.18);
    color: white;
    text-align: center;
    font-size: 20px;
    outline-style: none;
}
.captcha {
    width: 50%;
    border: 3px solid rgba(221, 141, 92, 0.55);
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 1s;
}
.captcha:hover {
    width: 60%;
    transition: 1s;
}
form {
    margin-top: 5%;
}
#left_backside {
    grid-area: left_backside;
    overflow: auto;
    display: block;
    height: 100vh;
}
#main {
    grid-area: main;
    color: rgb(0, 0, 0);
    align-items: center;
}
#right_backside {
    grid-area: right_backside;
    overflow: auto;
    display: block;
    height: 100vh;
}
#logo {
    margin-top: 20%;
    margin-bottom: 20%;
    display: block;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.6;
    font-family: "SF Pro Display";
    text-decoration: none;
    text-align: center;
}
#logo a{
    display: block;
    text-align: center;
    color: #000000;
    overflow: hidden;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../static/img/logo.jpeg);
    transition: 1s;
    padding-right: 5%;
    padding-left: 5%;
}
.helptext {
    display: none;
}
p label {
    display: block;
    text-align: center;
    font-size: 15px;
    padding-bottom: 2%;
    padding-top: 2%;
}
p input {
    display: block;
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
    height: 3vh;
    border: 1px solid rgba(218, 165, 32, 0);
    border-radius: 10px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.38);
    color: white;
    text-align: center;
}