/* The Modal (background) */
.modal-wine, .modal-straight, .modal-nonstraight, .modal-cocktail, .modal-how {
    display: none; /* Hidden by default */
    margin-left: 20%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content-wine, .modal-content-straight, .modal-content-nonstraight, .modal-content-cocktail,
.modal-content-how {
    background: linear-gradient(93deg, rgba(111, 70, 48, 1), rgba(0, 0, 0, 0.91), rgba(111, 70, 48, 1));
    margin-top: 20%;
    margin-left: 25%;
    padding: 0px;
    border: 0px solid rgba(147, 12, 12, 0);
    width: 30%;
    height: 30%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1s;
    justify-content: center;
    position: fixed;
    transition: all 1s ease-in-out;
}
.modal-content-wine h3, .modal-content-straight h3, .modal-content-nonstraight h3, .modal-content-cocktail h3,
.modal-content-how h3 {
    font-family: 'SF Pro Display';
    margin: auto auto;
    text-align: center;
    padding: 40px;
    color: #FFC29B;
}
.modal-content__left-button-wine, .modal-content__left-button-straight,
.modal-content__left-button-nonstraight, .modal-content__left-button-cocktail,
.modal-content__left-button-how {
    background: rgba(255, 194, 156, 0.99);
    float: left;
    margin-left: 20%;
}
.modal-content__right-button-wine, .modal-content__right-button-straight,
.modal-content__right-button-nonstraight, .modal-content__right-button-cocktail,
.modal-content__right-button-how {
    background: rgba(255, 194, 156, 0.99);
    float: right;
    margin-right: 20%;
}
.modal-content__left-button-wine a, .modal-content__right-button-wine a,
.modal-content__left-button-straight a, .modal-content__right-button-straight a,
.modal-content__left-button-nonstraight a, .modal-content__right-button-nonstraight a,
.modal-content__left-button-cocktail a, .modal-content__right-button-cocktail a,
.modal-content__left-button-how a, .modal-content__right-button-how a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.modal-content__left-button-wine:hover, .modal-content__right-button-wine:hover,
.modal-content__left-button-straight:hover, .modal-content__right-button-straight:hover,
.modal-content__left-button-nonstraight:hover, .modal-content__right-button-nonstraight:hover,
.modal-content__left-button-cocktail:hover, .modal-content__right-button-cocktail:hover,
.modal-content__left-button-how:hover, .modal-content__right-button-how:hover {
    background: rgb(218, 165, 32);
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.94);
    border: 1px solid rgba(0,0,0,0);
}
  /* The Close Button */
.closeModal-wine, .closeModal-straight, .closeModal-nonstraight, .closeModal-cocktail,
.closeModal-how {
    color: #818181;
    float: right;
    font-size: 35px;
    font-weight: bold;
    transition: 1s;
    margin: 3%;
}
.closeModal-wine:hover, .closeModal-wine:focus, .closeModal-straight:hover, .closeModal-straight:focus,
.closeModal-nonstraight:hover, .closeModal-nonstraight:focus, .closeModal-cocktail:hover, .closeModal-cocktail:focus,
.closeModal-how:hover, .closeModal-how:focus {
    color: #1cd2a8;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

@media(max-width: 600px) {
    .modal-wine, .modal-straight, .modal-nonstraight, .modal-cocktail, .modal-how {
        width: 100%;
        margin-left: 0;
        background-color: rgba(0,0,0,0.8);
    }
    .modal-content-wine, .modal-content-straight, .modal-content-nonstraight, .modal-content-cocktail,
    .modal-content-how {
        width: 70%;
        margin-left: 15%;
        height: 40%;
        margin-top: 50%;
    }
    .modal-content__left-button-wine, .modal-content__left-button-straight,
    .modal-content__left-button-nonstraight, .modal-content__left-button-cocktail,
    .modal-content__left-button-how {
        margin-left: 10%;
    }
    .modal-content__right-button-wine, .modal-content__right-button-straight,
    .modal-content__right-button-nonstraight, .modal-content__right-button-cocktail,
    .modal-content__right-button-how {
        margin-right: 10%;
    }
}