body {
    font-family: 'SF Pro Display';
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #000, #502a13, #a15628, #cb6b30, #a15628, #502a13, #000);
    justify-content: center;
    margin:0;
    position: relative;
}
.card1, .card1_user_profile, .card1_profile_edit {
    height: 55%;
    width: 75%;
    border: 0px;
    border-radius: 50px;
    background: repeat;
    box-shadow: 20px 20px 60px rgba(190, 190, 190, 0.26),
                -20px -20px 60px rgba(0, 0, 0, 0.78);
    display: grid;
    transition: 1s;
}
.card1, .card1_user_profile {
    height: 55%;
    width: 75%;
}
.card1_profile_edit {
    height: 85%;
    width: 85%;
}
.card1 {
    grid-template-rows: 80% 20%;
}
.card1_user_profile {
    grid-template-rows: 100% 0%;
}
.card1:hover, .card1_user_profile:hover {
    height: 56%;
    width: 76%;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.78),
                -20px -20px 60px rgba(190, 190, 190, 0.26);
}
.card1_profile_edit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    font-size: 10px;
}
.container_edit_page {
    display: flex;
    width: 60vw;
    justify-content: center;
}
.container_edit_page .form-group {
    width: 27vw;
}
.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.nickname {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: default;
}
.nickname h1 {
    text-transform: uppercase;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    font-size: 4em;
    background: -webkit-linear-gradient(340deg, #050505, #2e8cb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    transition: 1s;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.additional {
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
}
.helptext {
    display: block;
    color: black;
    font-style: italic;
    margin-block-start: 3em;
}
a {
    text-decoration: none;
    color: rgba(255,255,255);
    font-size: 10px;
}
span a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}
h3 {
    font-family: Copperplate;
    width: 300px;
    white-space: normal;
    text-align: center;
}
span {
    font-size: 15px;
}
form span {
    font-size: 10px;
}
input.btn_back {
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    color: rgba(255,255,255);
    padding: 10px;
}
input.btn, a.btn {
    background: rgba(0, 0, 0, 0.38);
    border: none;
    border-radius: 15px;
    color: rgba(255,255,255);
    transition: 0.5s;
    height: 38px;
    margin: 5px;
}
input.btn {
    padding: 10px;
}
a.btn {
    padding: 0px;
}
input.btn:active, a.btn:active {
    padding: 8px;
    margin-top: 2px;
}
input.btn:hover, a.btn:hover {
    background: rgba(255, 255, 255, 0.26);
    color: rgba(255,255,255);
    box-shadow: 10px 10px 45px rgba(0, 0, 0),
                -10px -10px 30px rgba(190, 190, 190, 0.26);
    cursor: pointer;
}
input#id_instagram_url, input#id_vk_url, input#id_facebook_url, input#id_twitter_url {
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.26);
    width: 96%;
    padding: 2%;
    color: rgba(255, 255, 255);
}
textarea#id_bio {
    resize: none;
    border-radius: 15px;
    border: none;
    padding: 5%;
    background: rgba(255, 255, 255, 0.26);
    color: rgba(255, 255, 255);
    width: 90%;
    box-shadow: 6px 6px 3px -5px rgba(0, 0, 0, 0.51),
                -6px -6px 5px -2px rgba(62, 55, 55, 0.21);
}
textarea#id_bio:focus, input#id_instagram_url:focus, input#id_vk_url:focus,
input#id_facebook_url:focus, input#id_twitter_url:focus {
    outline-color: rgba(0, 0, 0, 0);
    outline-style: none;
}
.nosocial {
    color: goldenrod;
    font-size: 10px;
}
.typing {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_to_homepage {
    margin-top: 50px;
    width: 15%;
    position: absolute;
    height: 3%;
    border: 0px;
    border-radius: 50px;
    transition: 1s;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 67, 183));
}
.btn_to_homepage:hover {
    box-shadow: 8px 5px 6px 1px #00ebff;
    width: 17%;
}
.typer:after {
    content:"";
    display: inline-block;
    vertical-align: middle;
    width:1px;
    height:1em;
    background: #000;
    animation: caretPulsate 1s linear infinite;
    -webkit-animation: caretPulsate 1s linear infinite;
}
@keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
}
@-webkit-keyframes caretPulsate {
    0%   {opacity:1;}
    50%  {opacity:1;}
    60%  {opacity:0;}
    100% {opacity:0;}
}