<table class="table table-borderless">
    <tbody>
        <tr>
            <td><i>Категория</i></td>
            <td>{{ product.spirit_type }}</td>
        </tr>
        <tr>
            <td><i>Страна производства</i></td>
            <td>{{ product.country_of_manufacturing }}</td>
        </tr>
        <tr>
            <td><i>Регион производства</i></td>
            <td>{{ product.region }}</td>
        </tr>
        <tr>
            <td><i>Винтаж</i></td>
            <td>{{ product.vintage }}</td>
        </tr>
        <tr>
            <td><i>Крепость</i></td>
            <td>{{ product.alcohol }}</td>
        </tr>
        <tr>
            <td><i>Объём</i></td>
            <td>{{ product.value }}</td>
        </tr>
        <tr>
            <td><i>Цвет</i></td>
            <td>{{ product.color }}</td>
        </tr>
        <tr>
            <td><i>Аромат</i></td>
            <td>{{ product.flavour }}</td>
        </tr>
        <tr>
            <td><i>Сочитается с</i></td>
            <td>{{ product.combination }}</td>
        </tr>
        <tr>
            <td><i>Сочитается с</i></td>
            <td>{{ product.combination }}</td>
        </tr>
        <tr>
            <td><i>Входит в состав коктейлей</i></td>
            <td>{{ product.cocktails }}</td>
        </tr>
        <tr>
            <td><i>Температура сервировки</i></td>
            <td>{{ product.serving }}</td>
        </tr>
        <tr>
            <td><i>Производитель</i></td>
            <td>{{ product.manufacturer }}</td>
        </tr>
        <tr>
            <td><i>Производитель</i></td>
            <td>{{ product.manufacturer_site }}</td>
        </tr>
        <tr>
            <td><i>Сайт производителя</i></td>
            <td>{{ product.manufacturer }}</td>
        </tr>
        <tr>
            <td><i>Поставщик</i></td>
            <td>{{ product.provider }}</td>
        </tr>
    </tbody>
</table>