<div class="col-lg-18">
    <div class="container">
        {% block content %}
        <div class="col-md-18" style="margin-top: 2%; margin-left: auto; margin-right: auto">
            <div class="row">
                {%  for product in products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ product.get_absolute_url }}" style="color:rgb(0, 0, 0); text-decoration:none !important">
                                    {{ product.title }}
                                </a>
                            </h4>
                            <h5 style="color:rgb(255, 0, 0);">{{ product.price }} USD</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endblock content %}
        </div>
    </div>
</div>