<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="page-section">
        <div class="container w-50">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded">
                        <a href="{% url 'products_list' %}" style="color: black; text-decoration:none !important">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Making the right choice</span>
                                <span class="section-heading-lower">Full library</span>
                            </h2>
                        </a>
                    </div>
                </div>
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">We take pride in our work, and it shows. Every time you order a book from us, we guarantee that it will be an experience worth having.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container w-50">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex ml-auto rounded">
                        <a href="{% url 'gin' %}" style="color: black; text-decoration:none !important">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Discover their thoughts</span>
                                <span class="section-heading-lower">Biography</span>
                            </h2>
                        </a>
                    </div>
                </div>
                <div class="product-item-description d-flex mr-auto">
                    <div class="bg-faded p-5 rounded">
                        <p class="mb-0">We take pride in our work, and it shows. Every time you order a book from us, we guarantee that it will be an experience worth having.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>