<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row" style="margin-right:3%;">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="rounded mx-auto d-block" style="width: 40%;">
        </div>
        <div class="col-md-8" style="color:rgb(0, 0, 0);">
            <h4>
                {{ product.title }}
            </h4>
            <strong>
                Price
            </strong>
            <p>
                {{ product.price }} USD
            </p>
            <strong>
                Synopses
            </strong>
            <p>
                {{ product.description}}
            </p>
            <hr>
        </div>
        {% if product.category.slug == 'gin' %}
            {% include 'gin_details.html' %}
        {% elif product.category.slug == 'bitter' %}
            {% include 'bitter_details.html' %}
        {% endif %}
    </div>
</body>
</html>