<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="../../../static/css/simple-line-icons.css" rel="stylesheet">
        <link href="../../../static/css/login.css" rel="stylesheet">
        <link href="../../../static/css/fonts.css" rel="stylesheet">

        <title>
            FBC Login
        </title>
    </head>
    <body>
        <div id="left_backside"></div>
        <div id="main">
            <div class="vertical-center-login">
                <form action="" method="POST" style="margin-top: 5%;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <script src='https://www.google.com/recaptcha/api.js'></script>
                    <div class="form-group-login g-recaptcha" data-sitekey="6LdqvHgaAAAAACUSh8cuYNpFMjYZwvt0OSFPAuaU" data-theme='dark'></div>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                    <input type="submit" class="button" value="Войти">
                </form>
            </div>
        </div>
        <div id="right_backside">
            <div id='t1' style="height: 33vh;"></div>
            <div id='t2' style="height: 34vh;">
                <div id="logo">
                    <a href="{% url 'index' %}">Food &#38 Beverage Cartel</a>
                </div>
            </div>
            <div id='t3' style="height: 33vh;"></div>
        </div>
    </body>
</html>