<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="../../static/css/simple-line-icons.css" rel="stylesheet">
        <link href="../../static/css/forum.css" rel="stylesheet">
        <link href="../../static/css/login.css" rel="stylesheet">
        <link href="../../static/css/fonts.css" rel="stylesheet">

        <title>
            FBC Login
        </title>
    </head>
    <body>
        <div id="left_backside"></div>
        <div id="main" style="height: 100vh;">
            <div class="vertical-center" style="height: 70vh; width: 55vw;">
                {% if request.user.is_authenticated %}
                    <form action="" method="POST" style="margin-top: 5%;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p style="text-align: center;">
                            В целях обеспечения безопасности Вашего аккаунта:
                        </p>
                        <ul style="margin: 0; padding:0; height: 100%;">
                            <li style="margin: 0; padding:0; text-align: center;">
                                пароль должен содержать не менее 8 символов
                            </li>
                            <li style="margin: 0; padding:0; text-align: center;">
                                пароль не должен состоять только из цифр
                            </li>
                            <li style="margin: 0; padding:0; text-align: center;">
                                пароль не должен содержать данные о Вас
                            </li>
                        </ul>
                        <input type="submit" class="button" value="Изменить пароль" style="margin-top: 5%;">
                    </form>
                {% else %}
                    <h1>
                        Вы не можете просмотривать данную страницу, поскольку не авторизованы
                    </h1>
                {% endif %}
            </div>
        </div>
        <div id="right_backside">
            <div id='t1' style="height: 33vh;"></div>
            <div id='t2' style="height: 34vh;">
                <div id="logo">
                    <a href="{% url 'index' %}">Food &#38 Beverage Cartel</a>
                </div>
            </div>
            <div id='t3' style="height: 33vh;"></div>
        </div>
    </body>
</html> 