<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">


	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">
	<link rel="stylesheet" href="../../../static/css/simple-line-icons.css">
	<link rel="stylesheet" href="../../../static/css/login.css">
	<link rel="stylesheet" href="../../../static/css/signup.css">
	<link rel="stylesheet" href="../../../static/css/ban.css">

	<title>
		FBC Registration
	</title>
</head>

<body>
	<div class="wrapper">
		{% if request.user.is_authenticated %}

		<div data-splitting>
			Вам не стоит здесь находиться
		</div>

		{% else %}
		<div class="logo">
			<a href="{% url 'index' %}">
				Food &#38 Beverage Cartel
			</a>
		</div>
		<div class="signup">
			<form action="" method="POST" class="signup__form">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" class="button" value="Войти">
			</form>
		</div>
		{% endif %}
	</div>

</body>

</html>