{% load static %}
<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="../../../static/css/simple-line-icons.css" rel="stylesheet">
        <link href="../../static/css/forum.css" rel="stylesheet">
        <link href="../../../static/css/profile_page.css" rel="stylesheet">
        <link href="../../../static/css/fonts.css" rel="stylesheet">

        <title>
            FBC Profile
        </title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <div class="card1_user_profile">
                <div class="container">
                    <div class="photo">
                        {% if page_user.profile_img %}
                            <img src="{{ page_user.profile_img.url }}" style="width: 200px; height: 200px; border:1px; border-radius: 30px;">
                        {% else %}
                            <img src="{% static 'img/default_user_img.png' %}" style="width: 200px; height: 200px; border:1px; border-radius: 30px;">
                        {% endif %}
                    </div>
                    <div class="nickname">
                        <h1>
                            {{ page_user }}
                        </h1>
                    </div>
                    <div class="main">
                        <h3>
                            "{{ page_user.bio }}"
                        </h3>
                        <br>
                        <h4>
                            {{ page_user.user.first_name }} {{ page_user.user.last_name }}
                        </h4>
                        {{ user.email }}
                        {% if user.profile.workplace %}
                            <br>
                            Место работы: {{ user.profile.workplace }}
                        {% endif %}
                        <br>
                        <br>
                        {% if page_user.instagram_url %}
                            Instagram link : 
                            <a href="http://{{ page_user.instagram_url }}">
                                {{ page_user.instagram_url }}
                            </a>
                        {% endif %}
                        <br>
                        {% if page_user.vk_url %}
                            Vkontakte link : 
                            <a href="http://{{ page_user.vk_url }}">
                                {{ page_user.vk_url }}
                            </a>
                        {% endif %}
                        <br>
                        {% if page_user.facebook_url %}
                            Instagram link : 
                            <a href="http://{{ page_user.facebook_url }}">
                                {{ page_user.facebook_url }}
                            </a>
                            <br>
                        {% endif %}
                        {% if page_user.twitter_url %}
                            Twitter link : 
                            <a href="http://{{ page_user.twitter_url }}">
                                {{ page_user.twitter_url }}
                            </a>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="typing">
                <span class="typer" data-text="Вы не можете просматривать данную страницу, поскольку не авторизованы"></span>
                <button class="btn_to_homepage">
                    <a href="{% url 'index' %}">
                        Перейти на главную
                    </a>
                </button>
            </div>
        {% endif %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="../../../static/js/ban.js"></script>
    </body>
</html>