{% load static %}
<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
        <link href="../../../static/css/simple-line-icons.css" rel="stylesheet">
        <link href="../../static/css/forum.css" rel="stylesheet">
        <link href="../../../static/css/login.css" rel="stylesheet">
        <link href="../../../static/css/fonts.css" rel="stylesheet">

        <title>
            FBC Profile
        </title>
    </head>
    <body>
        <div id="left_backside"></div>
        <div id="main">
            <div class="vertical-center">
                {% if request.user.is_authenticated %}
                    {% if page_user.profile_img %}
                        <img src="{{ page_user.profile_img.url }}" style="width: 200px; height: 200px; border:1px; border-radius: 30px;">
                    {% else %}
                        <img src="{% static 'img/default_user_img.png' %}" style="width: 200px; height: 200px; border:1px; border-radius: 30px;">
                    {% endif %}
                    <h1>
                        {{ page_user }}
                    </h1>
                    {{ page_user.user.first_name }} {{ page_user.user.last_name }}
                    <br>
                    {{ user.email }}
                    <br>
                    {% if user.profile.workplace %}
                        Место работы: {{ user.profile.workplace }}
                    {% else %}
                        Место работы: не указано
                    {% endif %}
                    <br>
                    {% if page_user.instagram_url %}
                        Instagram link : 
                        <a href="http://{{ page_user.instagram_url }}">
                            {{ page_user.instagram_url }}
                        </a>
                        <br>
                    {% endif %}
                    {% if page_user.vk_url %}
                        Vkontakte link : 
                        <a href="http://{{ page_user.vk_url }}">
                            {{ page_user.vk_url }}
                        </a>
                        <br>
                    {% endif %}
                    {% if page_user.facebook_url %}
                        Instagram link : 
                        <a href="http://{{ page_user.facebook_url }}">
                            {{ page_user.facebook_url }}
                        </a>
                        <br>
                    {% endif %}
                    {% if page_user.twitter_url %}
                        Twitter link : 
                        <a href="http://{{ page_user.twitter_url }}">
                            {{ page_user.twitter_url }}
                        </a>
                        <br>
                    {% endif %}
                    <p>
                        {{ page_user.bio }}
                    </p>
                {% else %}
                    <h1>
                        Вы не можете просмотривать данную страницу, поскольку не авторизованы
                    </h1>
                {% endif %}
            </div>
        </div>
        <div id="right_backside"></div>
    </body>
</html>